.menu {
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;   
    margin-left: 600px;
}

.links {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-family: fantasy;
    font-size: 20px;
}
  html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    text-align: center;
}
#hom  {
    width: 600px;
    height: 450px;
}
#home {
    background: chartreuse;
    padding-bottom: 100px;
}
#grid {
padding-top: 100px;
    background: cyan;
     padding-bottom: 100px;
}
#slide {
padding-top: 100px;
    background: orange;
     padding-bottom: 100px;
}

